html,
body, .root {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;

}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

/* full-sized  container that fills up the page */
.root {
    display: inline-block;
    margin: 1ch;
    /* example padding, font-size, background, etc */
}
pre {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.blink_me {
    animation: blinker 1s linear infinite;
    background-color: white;
    color: black;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}