html,
body, .root {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;

}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

/* full-sized  container that fills up the page */
.root body html {
    margin: 0px;
    padding: 0px;
    width: 98vw;
    height: 98vh;
    overflow-wrap: anywhere;
    /* example padding, font-size, background, etc */
}
div {
    font-family: monospace;
    vertical-align: top;
}
pre {
    overflow-wrap: anywhere;
    /*border: 1px dashed grey;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*word-wrap: anywhere;*/
    /*margin: 0;*/
    /*padding: 0.5ch;*/
}

.blink_me {
    animation: blinker 1s linear infinite;
    background-color: white;
    color: black;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}