.search {
    border: 1px solid red;
    padding: 1px;
}
* {
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #222728;
    color: #83ADFB;
}
buttonkdjf {
    border:1px solid #f3e114;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    box-shadow: none;

    margin: 0;
    padding: 0;
    color: #83ADFB;
}
x-c {
    display: inline-block;
}
.grid-stack-item-content {
    background-color: rgba(58, 59, 63, 0.38);
}
#root {
    background: rgba(8, 27, 57, 0.47);
}
body {
    /*display: flex;*/
    border: 0px solid red;
    width: 100%;
}
x-cell {
    border: 1px dashed #F67844;
    padding: 1px;
    min-width: 1ch;
    margin: 1px;
}
pre {
    margin: 0;
    padding: 0;
}