
html, body {
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.root {
    margin: 0px;
    padding: 0px;
    /*height: 100%;*/
    /*width: 100%;*/
}
.bcanv {
    height: 100%;
    width: 100%;
}

.sel {
    color: red;
}
button {
    margin-right: 1px;
}