* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Courier New", monospace;
}
span {
    padding: 0px;
    margin: 0px;
}
:focus {
    box-sizing: border-box;
    outline: 1px dashed rgba(255,0,0,0.5);

}
body {
    background-color: white;
    overflow: hidden;
    /*-webkit-filter: invert(100%);*/
    /*-moz-filter: invert(100%);*/
    /*-o-filter: invert(100%);*/
    /*-ms-filter: invert(100%);*/


    /*padding: 5px;*/
}
.foc {
    --focus-color: rgba(255,0,0,0.5);
    box-shadow:inset 0px 0px 0px 1px var(--focus-color);
    -webkit-box-shadow:inset 0px 0px 0px 1px var(--focus-color);
    -moz-box-shadow:inset 0px 0px 0px 1px var(--focus-color);
}
.dock-container-rows {
    display: flex;
    flex-direction: column;
}
.vh {
    visibility: collapse;
}
.ib {
    display: inline-block;
}
.c{
    font-family: MonoLisa, Menlo, Monaco, "Courier New", monospace;
    font-weight: normal;
    letter-spacing: 0px;
}
.bb {
    --b-color: inset 0px 0px 0px 1px rgba(255,0,0,0.5);
    box-shadow:var(--b-color);
    -webkit-box-shadow:var(--b-color);
    -moz-box-shadow:var(--b-color);
}
.dock-container-cols {
    display: flex;
    flex-direction: row;
}
.box {
    display: inline-block;
    border: 1px solid blue;
    padding: 1px 0.5ch 1px 0.5ch;
}
.hidden {
    visibility: hidden;
}
.input-container {
    display: inline-block;
    position: relative;
    min-width: 3ch;
    min-height: 1em;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
}
.bgrad {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 30%,
            rgba(255, 255, 255, 1) 30%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 70%,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}
.btn {
    zoom: 50%;
    display: inline-block;
}
.lbl {
    pointer-events: none;
    transform-origin: top left;
    transform: translateY(-0.37em) translateX(0.5ch) scale(0.5);
    letter-spacing: 0.005em;
    padding-left: 0.25ch;
    padding-right: 0.25ch;
}
.sel {
    font-weight: bold;
}

.input-field {
    border: 1px solid red;
    border-radius: 4px;
    padding-left: 0.3ch;
    padding-right: 0.3ch;
}
.dbg {
    border: 1px solid red
}
